psycopg[binary]==3.2.12
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langchain-anthropic==0.3.1
langgraph==0.2.30
langgraph-checkpoint==1.0.14
langgraph-checkpoint-sqlite==1.0.4
langgraph-sdk==0.1.31
langsmith==0.1.129
openai==1.58.1
anthropic==0.42.0
python-dotenv==1.0.1
requests==2.31.0
schedule==1.2.0
jupyter==1.1.1
nbconvert==7.16.4
ipykernel==6.29.5
httpx==0.27.2
httpx-sse==0.4.0
ipython
# Flask and dependencies
Flask==2.0.1
Werkzeug==2.0.1
flask-cors==3.0.10
gunicorn==20.1.0
email-validator
pydantic==2.12.3
pydantic-core==2.41.4
numpy~=1.26.0